{% extends 'base/base.html' %}
{% load static %}
{% block title %}
<title>Stock Bull | Invalid Date Error</title>
{% endblock %}


{% block content %}
<div class="container-fluid pt-2 px-2 bg-dark">
    <div class="row vh-100 rounded align-items-center justify-content-center mx-0">
        <div class="col-md-6 text-center p-4">
            <i class="bi bi-check-circle-fill display-1 text-success"></i>
            <h1 class="display-1 fw-bold text-white">Your Account</h1>
            <h1 class="mb-4 text-white">Password Reset Success</h1>
            <p class="mb-4">
                Choosing a hard-to-guess, but easy-to-remember password is important!
            </p>
            <a class="btn bg-success text-dark rounded-pill py-3 px-5" href="{% url 'login' %}">Go Back To Login</a>
        </div>
    </div>
</div>
{% endblock %}

</body>