{% extends 'base/base.html' %}
{% load static %}
{% block title %}
<title>Stock Bull | Unauthorized</title>
{% endblock %}


{% block content %}
<div class="container-fluid pt-2 px-2 bg-dark">
    <div class="row vh-100 rounded align-items-center justify-content-center mx-0">
        <div class="col-md-6 text-center p-4">
            <i class="bi bi-check-alert-fill display-1 text-danger"></i>
            <h1 class="display-1 fw-bold text-white">Unauthorized</h1>
            <h1 class="mb-4 text-white">Login Required</h1>
            <p class="text-white mb-4">
                Authorization is required for the respected services!
            </p>
            <a class="btn bg-success text-dark rounded-pill py-3 px-5" href="{% url 'login' %}">Login</a>
        </div>
    </div>
</div>
{% endblock %}

</body>